<c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Add</strong> <small> Location</small>
      </c-card-header>
      <c-card-body>
        <form
          cForm
          [formGroup]="addLocationForm"
          novalidate
          (ngSubmit)="onSubmit()"
        >

        <!-- Warehouse -->
        <c-row class="mb-1">
          <label cCol [sm]="4" cLabel="col" for="warehouseId"
            > Warehouse</label
          >
          <c-col
            [sm]="4"
            *ngIf="addLocationForm.controls['warehouseId'] as ctrl"
          >
            <select
              formControlName="warehouseId"
              cSelect
              id="validationTooltip04"
              required
              autocomplete="off"
              [autofocus]="true"
              type="number"
              [valid]="
              ctrl.touched && ctrl.valid
                ? true
                : (submitted || ctrl.touched) && ctrl.invalid
                ? false
                : undefined
            "
            >
              <option value="">Choose...</option>
              <option
                *ngFor="
                  let warehouse of warehouses;
                  let i = index
                "
                [ngValue]="warehouse.id"
              >
                {{ warehouse.name }}
              </option>
            </select>

            <c-form-feedback
              *ngIf="submitted || ctrl.invalid"
              [valid]="!(submitted || ctrl.invalid)"
            >
              <ng-container *ngIf="ctrl.errors as errors">
                <div *ngIf="errors?.['required']">
                   Warehouse is required
                </div>
              </ng-container>
            </c-form-feedback>
          </c-col>
        </c-row>

          <!--  Stand -->
          <c-row class="mb-1">
            <label cCol [sm]="4" cLabel="col" for="standId"
              > Stand</label
            >
            <c-col
              [sm]="4"
              *ngIf="addLocationForm.controls['standId'] as ctrl"
            >
              <select
                formControlName="standId"
                cSelect
                id="validationTooltip04"
                required
                autocomplete="off"
                [autofocus]="true"
                type="number"
                [valid]="
                ctrl.touched && ctrl.valid
                  ? true
                  : (submitted || ctrl.touched) && ctrl.invalid
                  ? false
                  : undefined
              "
              >
                <option value="">Choose...</option>
                <option
                  *ngFor="
                    let Stand of filteredStands;
                    let i = index
                  "
                  [ngValue]="Stand.id"
                >
                  {{ Stand.standName }}
                </option>
              </select>
  
              <c-form-feedback
                *ngIf="submitted || ctrl.invalid"
                [valid]="!(submitted || ctrl.invalid)"
              >
                <ng-container *ngIf="ctrl.errors as errors">
                  <div *ngIf="errors?.['required']">
                     Stand is required
                  </div>
                </ng-container>
              </c-form-feedback>
            </c-col>
          </c-row>
          <!-- Shelf Number -->
          <c-row class="mb-1">
            <label cCol [sm]="4" cLabel="col" for="shelfNumber">Shelf Number</label>
            <c-col [sm]="4" *ngIf="addLocationForm.controls['shelfNumber'] as ctrl">
              <input
                cFormControl
                id="shelfNumber"
                formControlName="shelfNumber"
                placeholder=" Shelf Number"
                autocomplete="off"
                required
                [autofocus]="true"
                [valid]="
                  ctrl.touched && ctrl.valid
                    ? true
                    : (submitted || ctrl.touched) && ctrl.invalid
                    ? false
                    : undefined
                "
              />
              <span class="val">გთხოვთ შეიყვანეთ მხოლოდ მთელი რიცხვი</span>

              <c-form-feedback
                *ngIf="submitted || ctrl.invalid"
                [valid]="!(submitted || ctrl.invalid)"
              >
                <ng-container *ngIf="ctrl.errors as errors">
                  <div *ngIf="errors?.['required']">Shelf Number is required</div>
                </ng-container>
              </c-form-feedback>
            </c-col>
          </c-row>

          <!-- Place Number -->
          <c-row class="mb-1">
            <label cCol [sm]="4" cLabel="col" for="placeNumber">Place Number</label>
            <c-col [sm]="4" *ngIf="addLocationForm.controls['placeNumber'] as ctrl">
              <input
                cFormControl
                id="placeNumber"
                formControlName="placeNumber"
                placeholder=" Place Number"
                autocomplete="off"
                required
                [autofocus]="true"
                [valid]="
                  ctrl.touched && ctrl.valid
                    ? true
                    : (submitted || ctrl.touched) && ctrl.invalid
                    ? false
                    : undefined
                "
              />
              <span class="val">გთხოვთ შეიყვანეთ მხოლოდ მთელი რიცხვი</span>
              <c-form-feedback
                *ngIf="submitted || ctrl.invalid"
                [valid]="!(submitted || ctrl.invalid)"
              >
                <ng-container *ngIf="ctrl.errors as errors">
                  <div *ngIf="errors?.['required']">Place Number is required</div>
                </ng-container>
              </c-form-feedback>
            </c-col>
          </c-row>
         
          <c-col xs="12">
            <button
              cButton
              color="danger"
              class="me-1"
              type="submit"
              [disabled]="addLocationForm.invalid"
              [tabindex]="'0'"
            >
              Save
            </button>
            <button
              cButton
              color="secondary"
              type="reset"
              [tabindex]="'0'"
              routerLink="/master-data/-categories"
            >
              Back
            </button>
          </c-col>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
  
  <c-toaster [placement]="position" class="p-3" position="fixed"
  >
    <c-toast
      [color]="toastrColor"
      [(visible)]="visible"
      (visibleChange)="true"
    >
      <c-toast-header> Add  Location </c-toast-header>
      <c-toast-body>
        <p *ngFor="let message of messages">
          {{ message }}
        </p>
        <!-- <c-progress thin>
          <c-progress-bar [value]="percentage"></c-progress-bar>
        </c-progress> -->
      </c-toast-body>
    </c-toast>
  </c-toaster>
  