<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form  cForm
              [formGroup]="loginForm"
              novalidate
              (ngSubmit)="onSubmit()">
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <c-input-group class="mb-3" *ngIf="loginForm.controls['username'] as ctrl">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input 
                         cFormControl 
                         placeholder="Username" 
                         id="name"
                         formControlName="username"
                         autocomplete="off"
                         required
                         [autofocus]="true"
                         [valid]="
                        ctrl.touched && ctrl.valid
                          ? true
                          : (submitted || ctrl.touched) && ctrl.invalid
                          ? false
                          : undefined
                      "/>
                </c-input-group>
                <c-input-group class="mb-4" *ngIf="loginForm.controls['password'] as ctrl">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                  cFormControl 
                  type="password"
                  placeholder="Password" 
                  id="password"
                  formControlName="password"
                  autocomplete="off"
                  required
                  [autofocus]="true"
                  [valid]="
                 ctrl.touched && ctrl.valid
                   ? true
                   : (submitted || ctrl.touched) && ctrl.invalid
                   ? false
                   : undefined
               "/>
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" type="submit">
                      Login
                    </button>
                  </c-col>
                  <!-- <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col> -->
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>


<c-toaster [placement]="position" class="p-3" position="fixed"
>
  <c-toast
    [color]="toastrColor"
    [(visible)]="visible"
    (visibleChange)="true"
  >
    <c-toast-header> Authentication </c-toast-header>
    <c-toast-body>
      <p *ngFor="let message of messages">
        {{ message }}
      </p>
      <!-- <c-progress thin>
        <c-progress-bar [value]="percentage"></c-progress-bar>
      </c-progress> -->
    </c-toast-body>
  </c-toast>
</c-toaster>