<c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Add</strong> <small>Product Subcategory</small>
      </c-card-header>
      <c-card-body>
        <form
          cForm
          [formGroup]="addProductSubcategoryForm"
          novalidate
          (ngSubmit)="onSubmit()"
        >

          <!-- Product Category -->
          <c-row class="mb-1">
            <label cCol [sm]="4" cLabel="col" for="productCategoryId"
              >Product Category</label
            >
            <c-col
              [sm]="4"
              *ngIf="addProductSubcategoryForm.controls['productCategoryId'] as ctrl"
            >
              <select
                formControlName="productCategoryId"
                cSelect
                id="validationTooltip04"
                required
                autocomplete="off"
                [autofocus]="true"
                type="number"
                [valid]="
                ctrl.touched && ctrl.valid
                  ? true
                  : (submitted || ctrl.touched) && ctrl.invalid
                  ? false
                  : undefined
              "
              >
                <option value="">Choose...</option>
                <option
                  *ngFor="
                    let productCategory of productCategories;
                    let i = index
                  "
                  [ngValue]="productCategory.id"
                >
                  {{ productCategory.name }}
                </option>
              </select>
  
              <c-form-feedback
                *ngIf="submitted || ctrl.invalid"
                [valid]="!(submitted || ctrl.invalid)"
              >
                <ng-container *ngIf="ctrl.errors as errors">
                  <div *ngIf="errors?.['required']">
                    Product Category is required
                  </div>
                </ng-container>
              </c-form-feedback>
            </c-col>
          </c-row>
          <c-row class="mb-1">
            <label cCol [sm]="4" cLabel="col" for="name">Name</label>
            <c-col [sm]="4" *ngIf="addProductSubcategoryForm.controls['name'] as ctrl">
              <input
                cFormControl
                id="name"
                formControlName="name"
                placeholder="Product Subcategory Name"
                autocomplete="off"
                required
                [autofocus]="true"
                [valid]="
                  ctrl.touched && ctrl.valid
                    ? true
                    : (submitted || ctrl.touched) && ctrl.invalid
                    ? false
                    : undefined
                "
              />
              <c-form-feedback
                *ngIf="submitted || ctrl.invalid"
                [valid]="!(submitted || ctrl.invalid)"
              >
                <ng-container *ngIf="ctrl.errors as errors">
                  <div *ngIf="errors?.['required']">Product Subcategory Name is required</div>
                </ng-container>
              </c-form-feedback>
            </c-col>
          </c-row>
          <c-row class="mb-1">
            <label cCol [sm]="4" cLabel="col" for="description">Description</label>
            <c-col [sm]="4" *ngIf="addProductSubcategoryForm.controls['description'] as ctrl">
              <input
                cFormControl
                id="description"
                formControlName="description"
                placeholder="Product Subcategory Description"
                autocomplete="off"
                [autofocus]="true"
  
              />
              <c-form-feedback
                *ngIf="submitted || ctrl.invalid"
                [valid]="!(submitted || ctrl.invalid)"
              >
                <ng-container *ngIf="ctrl.errors as errors">
                  <div *ngIf="errors?.['required']">Product Subcategory Description is required</div>
                </ng-container>
              </c-form-feedback>
            </c-col>
          </c-row>
          <c-col xs="12">
            <button
              cButton
              color="danger"
              class="me-1"
              type="submit"
              [disabled]="addProductSubcategoryForm.invalid"
              [tabindex]="'0'"
            >
              Save
            </button>
            <button
              cButton
              color="secondary"
              type="reset"
              [tabindex]="'0'"
              routerLink="/master-data/product-categories"
            >
              Back
            </button>
          </c-col>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
  
  <c-toaster [placement]="position" class="p-3" position="fixed"
  >
    <c-toast
      [color]="toastrColor"
      [(visible)]="visible"
      (visibleChange)="true"
    >
      <c-toast-header> Add Product Subcategory </c-toast-header>
      <c-toast-body>
        <p *ngFor="let message of messages">
          {{ message }}
        </p>
        <!-- <c-progress thin>
          <c-progress-bar [value]="percentage"></c-progress-bar>
        </c-progress> -->
      </c-toast-body>
    </c-toast>
  </c-toaster>
  