<c-row>
  <c-col md="6">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>{{ editPage ? "Edit" : "Delete" }}</strong>
        <small>Product Category</small>
      </c-card-header>
      <c-card-body>
        <form
          cForm
          [formGroup]="editProductCategoryForm"
          novalidate
          (ngSubmit)="onSubmit()"
        >
          <!-- name -->
          <c-row class="mb-1">
            <label cCol [sm]="4" cLabel="col" for="name">Name</label>
            <c-col
              [sm]="8"
              *ngIf="editProductCategoryForm.controls['name'] as ctrl"
            >
              <input
                cFormControl
                id="name"
                formControlName="name"
                placeholder="Product Category Name"
                autocomplete="off"
                required
                [autofocus]="true"
                [valid]="
                  ctrl.touched && ctrl.valid
                    ? true
                    : (submitted || ctrl.touched) && ctrl.invalid
                    ? false
                    : undefined
                "
              />
              <c-form-feedback
                *ngIf="submitted || ctrl.invalid"
                [valid]="!(submitted || ctrl.invalid)"
              >
                <ng-container *ngIf="ctrl.errors as errors">
                  <div *ngIf="errors?.['required']">Product Category Name is required</div>
                </ng-container>
              </c-form-feedback>
            </c-col>
          </c-row>
          <!-- Product Category Description -->
          <c-row class="mb-1">
            <label cCol [sm]="4" cLabel="col" for="description">Description</label>
            <c-col
              [sm]="8"
              *ngIf="editProductCategoryForm.controls['description'] as ctrl"
            >
              <input
                cFormControl
                id="description"
                formControlName="description"
                placeholder="Product Category Description"
                autocomplete="off"
                required
                [valid]="
                  ctrl.touched && ctrl.valid
                    ? true
                    : (submitted || ctrl.touched) && ctrl.invalid
                    ? false
                    : undefined
                "
              />
              <c-form-feedback
                *ngIf="submitted || ctrl.invalid"
                [valid]="!(submitted || ctrl.invalid)"
              >
                <ng-container *ngIf="ctrl.errors as errors">
                  <div *ngIf="errors?.['required']">
                    Product Category Description is required
                  </div>
                </ng-container>
              </c-form-feedback>
            </c-col>
          </c-row>


          <c-button-group>
            <button
              cButton
              color="primary"
              type="submit"
              [disabled]="
                editPage
                  ? editProductCategoryForm.invalid
                  : editProductCategoryForm.invalid
              "
              [tabindex]="'0'"
            >
              {{ editPage ? "Save" : "Delete" }}
            </button>

            <div *ngIf="editPage">
              <button
                cButton
                color="success"

                (click)="onValidate()"
                [tabindex]="'0'"
              >
                Validate
              </button>
              <button
                cButton
                color="danger"
                type="reset"
                (click)="onReset()"
                [tabindex]="'0'"
              >
                Reset
              </button>
            </div>

            <button
              cButton
              color="secondary"
              type="reset"
              routerLink="/master-data/product-categories"
              [tabindex]="'0'"
            >
              Back
            </button>
          </c-button-group>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast [color]="toastrColor" [(visible)]="visible" (visibleChange)="(true)">
    <c-toast-header>
      {{ editPage ? "Edit Customer" : "Delete Customer" }}
    </c-toast-header>
    <c-toast-body>
      <p *ngFor="let message of errorMessages">
        {{ message }}
      </p>
      <!-- <c-progress thin>
        <c-progress-bar [value]="percentage"></c-progress-bar>
      </c-progress> -->
    </c-toast-body>
  </c-toast>
</c-toaster>
